* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-content: center;
}

#playSpace {
	cursor: url("images/nose.png"), auto;
	width: 98vw;
	height: 85vh;
	/* margin: 0 auto; */
	background-color: green;
	/* border: blue 2px solid; */
}

.clownImage {
	width: 4vw;
}