* {
	box-sizing: border-box;
}

#clowninAround {
	display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
	/* align-content: space-around; */
	flex-direction: column;
	/* align-content: center; */
}

#doubleDutyButton {
	/* width: 100px; */
	/* justify-content: center; */
	width: fit-content;
	padding: 0px 10px;
	/* display: flex; */
}

#playSpace {
	cursor: url("images/nose.png"), auto;
	width: 98vw;
	height: 85vh;
	/* margin: 0 auto; */
	background-color: green;
	display: none;
}

.clownImage {
	width: 4vw;
	position: relative;
}